.container{
    width:auto;
    height:auto;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    gap:10px;
    align-items: center;


}
.image img{
     width:200px;
    height:300px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
     transition: transform 0.3s ease, height 0.3s ease;
}

.image img:hover {
    transform: scale(1.1);
    /* height: 320px; */
}

#img1 img:hover,
#img2 img:hover,
#img3 img:hover,
#img4 img:hover,
#img5 img:hover {
    transform: scale(1.1);
    width: auto;
    height: 200px;
}

body{
    background-image: url("image/Aimg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
h1{
    color: greenyellow;
    font-size:50px;
    font-style: italic;
    text-align: center;
}
h3{
    color: greenyellow;
    font-size:20px;
    font-style: italic;
    text-align: center;
}
h2{
    color: greenyellow;
    font-size:30px;
    font-style: italic;
    text-align: center;
}
